
/*
GEOFIELD simplesearch
*/
.form-item-geofield-simplesearch-search-text {
	margin: 0;
}
#block-geofield-simplesearch-geofield-simplesearch-search {
	display:block;
	margin: 0 !important;
	padding: 0;
}
#edit-geofield-simplesearch-search-submit {
	width: 100%;
}
.form-item-geofield-simplesearch-search-text {
	margin: 0;
	padding: 0;
}

